<h1><%= usuario %></h1>
<% var vicente = 'Vicente';%>
<h2><%= vicente%></h2>

<ul>
<% arreglo.forEach((noticia)=>{%>
      <li><%= noticia.titulo%>
          -
          <%= noticia.descripcion%>
          <button>click</button>
      </li>
    <%})%>
</ul>

<p>PARRAFO</p>