<h1>Login</h1>
<p>Ingresar las crendenciales</p>
<form action="/login"
        method="POST"
>

    <div>
        <label for="username">Usuario</label>
        <input id="username" type="text" name="username">
    </div>
    <div>
        <label for="password">Password</label>
        <input id="text" type="password" name="password">
    </div>

    <button>Login</button>
</form>