<div class="menu" align="center">
<h1 >GAME-OVER</h1>
<br>
<br>
<h2>WELCOME</h2>
<br>
<br>
<br>
<img src="https://images.vexels.com/media/users/3/144101/isolated/preview/6d29f4d325ba3f08acdb590e4ca07dbe-joystick-doodle-icon-by-vexels.png" alt="Jostick" width="150" height="150">
<br>
<br>
<br>
<br>
    <a href="/distribuidor/inicio">
        <button >ENTER</button>
    </a>
</div>